
<div class="container">
<h1> Why to eat unhealthy, when you have organic food?</h1>
<br>
<div class="row">
    <div class="col-6">
        <h2>Our mission</h2>
<h3>Is to help people live better, healthier life by providing them with 100% certified, organic food.
      Being healthy should be part of your overall lifestyle.
      Living a healthy lifestyle can help prevent chronic diseases and long-term illnesses.
      Feeling good about yourself and taking care of your health are important 
      for your self-esteem and self-image. Maintain a healthy lifestyle by doing 
      what is right for your body.
    Using our products will help you with every aspect of your life, cause having a healthy body and mind, will lead you to achive every single goal you have! </h3>
    </div>
<div class="col-6">
    <img class="rounded-circle" src="https://img.freepik.com/free-vector/organic-slogan-brush-lettering-hand-drawn-word_97378-532.jpg" alt="">
</div>
</div>
<br>
<br>
<div class="row">
    <div class="col-7">
        <img class="rounded-circle" src="https://previews.123rf.com/images/tkuzminka/tkuzminka1610/tkuzminka161000036/66664638-nat%C3%BCrliches-element-f%C3%BCr-bio-lebensmittel-typografiefahne-mit-zitat-und-gem%C3%BCse-in-den-gr%C3%BCnen-runden-r.jpg" alt="">
    </div>
    <div class="col-5">
        <h2>Only real food is ORGANIC food!</h2>
        <h3>Organic food is grown without the use of synthetic chemicals,
             such as human-made pesticides and fertilizers, 
             and does not contain genetically modified organisms (GMOs). 
             Organic foods include fresh produce, meats, and dairy products as 
             well as processed foods such as crackers, drinks, and frozen meals.
             On our website, you can choose a lot of products in our online store. Products are group by categories, so you can pick fruits, vegetables, meat, bread, dairy, seasoning and spices!
        </h3>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-4"><h2 class="text-center">THE FARMS</h2><h3 class="text-center">Our farmers are carefully chosen and trained to work towards practicing environment-friendly farming techniques. From the chemical-free soil to the grains being hand-picked – everything you see is organically farmed to give you the highest quality product. While doing this, we ensure that the chosen region has suitable weather and temperature conditions. We follow a series of practices like soil fertility management, seed collection, biodiversity, composting, water management, crop rotation and protection which are extremely efficient and regenerative in nature.</h3></div>
    <div class="col-4"><h2 class="text-center">THE FACTORY</h2><h3 class="text-center">With a combination of traditional and state-of-the-art machinery,  we have an effective yet efficient way of functioning. Our advanced practices and dehydration technologies ensure that all our products retain their maximum level of potency. Our products are dehydrated in a dry, sterile environment to prevent the chances of a phytochemical breakdown. We have a specialized mechanism to preserve the matrix of bioactive molecules possessed by all the products by grinding them at low temperatures. What we provide you as final products are of the highest quality, pure and natural.</h3></div>
    <div class="col-4"><h2 class="text-center">THE KITCHEN</h2><h3 class="text-center">You can enjoy food that is hygienically packed and retains all the benefits of organic food, without any chemical interference. We’ve always been supportive of food that is more tasty, nutritious and holistic. Having seen the highest numbers when it comes to customers talking about the benefit of shifting to a more organic diet, we believe it’s time for a change and that time is now!</h3></div>
</div>
</div>