<div class="container">
  <h1>Create an account <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="Bootstrap" width="60" height="50 "></h1>
  <hr />
  <div class="row">
    <div class="col-6">
      <form #loginForm="ngForm" (ngSubmit)="registerUser(loginForm.value)">
        <h1 class="text-center">Sign Up</h1>

        <div class="form-group" style="padding: 0 100px;">
          <hr />
          <input
            class="form-control me-2"
            type="text"
            ngModel
            id="email"
            name="email"
            placeholder="E-mail"
          />
          <br />
          <input
            class="form-control me-2"
            type="password"
            ngModel
            id="password"
            name="password"
            placeholder="Password"
          />
          <br />
          <button
            class="btn btn-success btn-block"
            style="margin: 0 100px;"
            type="submit"
            routerLinkActive="active"
          >
            Sign in
          </button>
        </div>
      </form>
    </div>

    <div class="col-6">
      <h1>Login with Google</h1>
      <br />
      <button
        class="btn btn-success"
        style="margin: 0 185px;"
        (click)="login()"
        routerLinkActive="active"
      >
        Google login
      </button>
    </div>
  </div>
</div>
