img{

    height: 45px;
    width: 50px;
    border: 2px solid #fff;
}

.btn{

    width: 150px;
    height: 38px;  
    border-radius: 10px; 
}

.dropdown-menu{

    margin-left: 60px; 
    
    text-align:center;
    border: 2px solid rgb(186, 183, 183);
    border-radius: 5px;
}     


