thead{
    background-color: rgb(154, 159, 159);
}
tbody{
    background-color: rgb(222, 222, 226);
}

mat-paginator{
    width: 400px;
    margin-left: 350px;
    background-color: rgb(154, 159, 159);
}
h2{
    color: rgb(88, 87, 87);
}

.btn{
    width: 200px;
}