.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    opacity: 0.7;
    
  }
  .card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 300px;
    
   
  }

  .card-img-wrapper {
    overflow: hidden;
    position: relative;
  }
  
  .card{
      border-bottom-right-radius: 30%;
      border: 2px solid rgb(185, 208, 232);
   
  }

  .list-group-item{
      border-color: rgb(167, 197, 228);
  }

  .shadowBtn{
     width: 150px;
     height: 30px;
     border-radius: 10px;
     background-color: transparent;
     color: rgb(4, 64, 120);
     cursor: pointer;
     position: relative;
  }

  .shadowBtn:hover{
    color: rgb(104, 174, 202);
    transition: ease-in;
  }
  
 .title {
      background-color: rgb(167, 197, 228);
  }

  .sticky-top{
    top:80px;
  }

  .swal-height {
    height: 800px;
  }


